@import url("../../styles/common.css");

/* Bare bones style for the desired effect */
pre.code {
    display: table;
    table-layout: fixed;
    width: 100%;
    /* anything but auto, otherwise fixed layout not guaranteed */
    white-space: pre-wrap;
}

pre.code::before {
    counter-reset: linenum;
}

pre.code span.tr {
    display: table-row;
    counter-increment: linenum;
}

pre.code span.th {
    /* used for line numbers */
    display: table-cell;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

pre.code span.th::before {
    content: counter(linenum);
    text-align: right;
    display: block;
}

pre.code span.th {
    width: 4em;
    /* or whatever the desired width of the numbers column is */
}

pre.code code {
    display: table-cell;
}

.row.start{
    justify-content: flex-start;
}

.lr-gutter{
    padding: 0 1rem;
}

.card-style{
    border-radius: 0.25rem;
    box-shadow: 0.25rem 0.25rem 0.9rem var(--gray);
}

