.main-offset{
    padding: 1rem 2rem;
    top: 4rem;
    position: absolute;
    width: 100%;
    height: 100%;
    /* z-index: -1; */

}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* gap: 10px; */
    /* grid-auto-rows: minmax(100px, auto);
     */
    grid-template-rows: auto;
  }


