.header-style{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    flex-wrap: nowrap;
    align-content: center;
    align-self: flex-start;
    height: 1rem;
    padding: 2rem 9rem;
    box-shadow: 0rem 0.15rem 0.9rem var(--gray);
    z-index: 1000;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    box-sizing: border-box;
}


.white{
    fill: var(--white);
}

.emumba-green{
    background-color: var(--egreen);
}